@import "../../scss/index.scss";

.wrapper {
   height: 100%;
}

.one {
  background-color: yellow;
  float: left; 
  width: 20%;
  height: 100%;
}

.two { 
  background-color: green;
  float: left; 
  width: 80%;
  // overflow:hidden;
  // margin:10px;
  // border:2px dashed #ccc;
  // min-height:170px;
  // margin-top: 10px;
  // overflow-x: scroll;
}

.my-home {
  // background-color: #808080;
  margin-top: 10px;
  overflow-x: scroll;
}

.my-grid-row {
  display: flex;
  justify-content: space-around;
  margin: 3px;
}

.my-col {
  background-color: #eee;
  height: 100px;
  width: 70%;
  max-width: 100vh;
}

// @media screen and (max-width: 720px) {
//   .my-home {
//     // margin-top: auto;
//   }

//   .my-grid-row {
//       display: initial;
//       margin: 1px;
//       justify-content: space-around;
//   }

//   .my-col {
//       width: initial;
//       margin: 1px;
//       justify-content: space-around;
//       width: 90%;
//   }
// }
